<div class="row">
  <div class="col-12">
    <h1>{{@question.title}}</h1>
  </div>
  {{#each @question.answers key="@index" as |answer|}}
    <div class="col-12">
        <button type="button" class="btn btn-danger btn-lg btn-block btn-question">{{answer}}<</button>
    </div>
  {{/each}}
</div>
